<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Patents</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Patent Applications from USPTO API</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(patents)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Application Number</th>
                                <th>Applicant</th>
                                <th>Assignee</th>
                                <th>Title</th>
                                <th>Inventor</th>
                                <th>Year</th>
                            </tr>
                            </thead>
                            <tr th:each="patent : ${patents}">
                                <td th:text="${patent.applicationNumber}">US14643719</td>
                                <td th:text="${patent.applicant}">Raytheon Company</td>
                                <td th:text="${patent.assignee}">QUALCOMM</td>
                                <td th:text="${patent.title}">Method of Manufacturing</td>
                                <td th:text="${patent.inventor}">Inventor</td>
                                <td th:text="${patent.year}">2019</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>